<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quản lý sinh viên</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{ url_for('static',filename='plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='plugins/toastr/toastr.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      {{ error }}
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Yêu cầu mật khẩu mới</p>

      <form action="/forget" method="post">
        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="tên đăng nhập">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="g-recaptcha" data-sitekey="{{ pub_key }}"></div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Mật khẩu mới</button>
          </div>
          <div class="col-6">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <a href="/login" >Đăng nhập</a>
          </div>
        </div>
      </form>   
    </div>
  </div>
</div>


<script src="{{ url_for('static',filename='plugins/toastr/toastr.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='dist/js/adminlte.min.js') }}"></script>
</body>
</html>
